fastapi[all]
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
python-jose[cryptography]
passlib
python-multipart
langchain
langchain-community
langchain-ollama
chromadb
pypdf
bcrypt==4.3.0
langchain-text-splitters
langchain-core
langchain-classic
protobuf==3.20.3